# Kaggle Customer Satisfaction
https://www.kaggle.com/c/santander-customer-satisfaction
<br>
<br>
## Data Information
* Kaggle_Customer_Satisfaction.csv (76,020 * 371)
* TARGET (y): '0' (만족), '1' (불만)
* Metric: '<font color = 'blue'>F1-Score</font>', '<font color = 'red'>pos_lab = 1</font>'

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# I. wget From Github
* 'Kaggle_Customer_Satisfaction.zip' 파일 다운로드

In [ ]:
# !wget https://raw.githubusercontent.com/rusita-ai/pyData/master/Kaggle_Customer_Satisfaction.zip

--2023-01-09 23:51:51--  https://raw.githubusercontent.com/rusita-ai/pyData/master/Kaggle_Customer_Satisfaction.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4240457 (4.0M) [application/zip]
Saving to: ‘Kaggle_Customer_Satisfaction.zip’

Kaggle_Customer_Sat 100%[===================>]   4.04M  --.-KB/s    in 0.05s

2023-01-09 23:51:51 (77.8 MB/s) - ‘Kaggle_Customer_Satisfaction.zip’ saved [4240457/4240457]

* 다운로드 결과 확인

In [ ]:
# !ls -l

total 4148
-rw-r--r-- 1 root root 4240457 Jan  9 23:51 Kaggle_Customer_Satisfaction.zip
drwxr-xr-x 1 root root    4096 Jan  5 14:34 sample_data

# II. Data Preprocessing

> ## 1) Unzip 'Kaggle_Customer_Satisfaction.zip'

* Colab 파일시스템에 'Kaggle_Customer_Satisfaction.csv' 파일 생성

In [ ]:
# !unzip Kaggle_Customer_Satisfaction.zip

Archive:  Kaggle_Customer_Satisfaction.zip
  inflating: Kaggle_Customer_Satisfaction.csv

* Kaggle_Customer_Satisfaction.csv 파일 확인

In [ ]:
# !ls -l

total 62120
-rw-r--r-- 1 root root 59362806 Dec 11  2019 Kaggle_Customer_Satisfaction.csv
-rw-r--r-- 1 root root  4240457 Jan  9 23:51 Kaggle_Customer_Satisfaction.zip
drwxr-xr-x 1 root root     4096 Jan  5 14:34 sample_data

> ## 2) 데이터 읽어오기

* pandas DataFrame

In [ ]:
import pandas as pd

DF = pd.read_csv('../../../secret/homework_data/ML/Customer_Satisfaction.csv')

DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

* DataFrame Shape

In [ ]:
DF.shape

(76020, 370)

In [ ]:
DF.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

* '0' (만족) TARGET과 '1' (불만) TARGET 개수

In [ ]:
DF.TARGET.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

* '0' (만족) TARGET과 '1' (불만) TARGET 비율

In [ ]:
(DF.TARGET.value_counts() / DF.shape[0]) * 100

0    96.043147
1     3.956853
Name: TARGET, dtype: float64

> ## 3) 'var3' 이상치 전처리

In [ ]:
DF.describe( )

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

* 이상치 '-999999'를 최빈값 '2'로 대체

In [ ]:
DF['var3'].replace(-999999, 2, inplace = True)

* 'ID' 컬럼 삭제

In [ ]:
DF.drop('ID', axis = 1 , inplace = True)

> ## 4) train_test_split( )

* X (Input), y (Output) 지정

In [ ]:
X = DF.iloc[:,:-1]
y = DF.iloc[:, -1]

X.shape, y.shape

((76020, 369), (76020,))

> ### (1) Without 'stratify'

In [ ]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3,
                                                    random_state = 2045)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((53214, 369), (53214,), (22806, 369), (22806,))

* Train_Data와 Test_Data의 1 (부정) 비율이 불균형

In [ ]:
print('Train_Data :','\n', (y_train.value_counts() / y_train.shape[0]) * 100)
print('Test_Data :','\n', (y_test.value_counts() / y_test.shape[0]) * 100)

Train_Data :
 0    96.081858
1     3.918142
Name: TARGET, dtype: float64
Test_Data :
 0    95.952819
1     4.047181
Name: TARGET, dtype: float64

> ### (2) With 'Stratify'

In [ ]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size = 0.3,
                                                    stratify = y,
                                                    random_state = 2045)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((53214, 369), (53214,), (22806, 369), (22806,))

* Train_Data와 Test_Data의 1 (부정) 비율이 균형

In [ ]:
print('Train_Data :','\n', (y_train.value_counts() / y_train.shape[0]) * 100)
print('Test_Data :','\n', (y_test.value_counts() / y_test.shape[0]) * 100)

Train_Data :
 0    96.042395
1     3.957605
Name: TARGET, dtype: float64
Test_Data :
 0    96.0449
1     3.9551
Name: TARGET, dtype: float64

# III. EDA

# IV. Modeling

# 
# 
# 
# The End
# 
# 
#