In [3]:
from database import init_db, db_session
from bankmodel import Customer
from sqlalchemy import select


init_db()

SyntaxError: invalid syntax (bankmodel.py, line 95)

In [2]:
customers = Customer.query.all()
customers

[<1c, 원칠4, 2, 500, silver>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>,
 <12c, 데이터베스, 0, 0, normal>]

In [3]:
c = db_session.get(Customer, '1c')
c

In [4]:
Customer.query.filter(Customer.c_id =='1c')[0]

In [5]:
q = db_session.execute(select(Customer)).scalars()
for c in q:
    print(c)

<1c, 원칠4, 2, 500, silver>
<2c, 이서혁, 1, 2000, gold>
<3c, aiot, 3, 50000, vip>
<4c, 새싹, 4, 200000, vvip>
<12c, 데이터베스, 0, 0, normal>

In [6]:
q = db_session.execute(select(Customer).order_by(Customer.rat)).scalars()
for c in q:
    print(c)

<2c, 이서혁, 1, 2000, gold>
<12c, 데이터베스, 0, 0, normal>
<1c, 원칠4, 2, 500, silver>
<3c, aiot, 3, 50000, vip>
<4c, 새싹, 4, 200000, vvip>

In [7]:
q = db_session.execute(select(Customer).where(Customer.name =='aiot')).scalars()
for c in q:
    print(c)

<3c, aiot, 3, 50000, vip>

In [8]:
customers[0].name = '원칠3'
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠3, 2, 500, silver>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>,
 <12c, 데이터베스, 0, 0, normal>]

In [9]:
customers[0].name = '원칠4'
customers[0].verified = True
db_session.commit()
customers = Customer.query.all()
customers

[<1c, 원칠4, 2, 500, silver>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>,
 <12c, 데이터베스, 0, 0, normal>]

In [10]:

c = Customer(c_id = '12c', name = '데이터베스')
db_session.add(c)
db_session.commit()
customers = Customer.query.all()
customers

C:\Users\SBAUser\AppData\Local\Temp\ipykernel_17268\890457631.py:3: SAWarning: New instance <Customer at 0x2aa7f539cf0> with identity key (<class 'bankmodel.Customer'>, ('12c',), None) conflicts with persistent instance <Customer at 0x2aa7f5394b0>
  db_session.commit()
C:\Users\SBAUser\AppData\Local\Temp\ipykernel_17268\890457631.py:3: SAWarning: Identity map already had an identity for (<class 'bankmodel.Customer'>, ('12c',), None), replacing it with newly flushed object.   Are there load operations occurring inside of an event handler within the flush?
  db_session.commit()

[<1c, 원칠4, 2, 500, silver>,
 <2c, 이서혁, 1, 2000, gold>,
 <3c, aiot, 3, 50000, vip>,
 <4c, 새싹, 4, 200000, vvip>,
 <12c, 데이터베스, 0, 0, normal>]

In [30]:
from bankmodel import Accounts
# accounts 테이블의 모든 계좌를 쿼리후 출력
accounts = Accounts.query.all()
accounts

[<45a, 100, 4c>,
 <12a, 400, 1c>,
 <21a, 2000, 2c>,
 <31a, 10000, 3c>,
 <32a, 20000, 3c>,
 <33a, 20000, 3c>,
 <41a, 100000, 4c>,
 <42a, 50000, 4c>,
 <43a, 20000, 4c>,
 <44a, 30000, 4c>]

In [27]:
# get함수를 활용해 a_id가 11a 인 계좌 출력
a = db_session.get(Accounts, '11a')
a

In [28]:
# 쿼리 filter 함수를 활용해 c_id가 3c인 계좌 출력
Accounts.query.filter(Accounts.c_id =='3c')[0]

In [31]:
# a_id가 45a이고 c_id가 4c인 계좌 생성후 DB에 추가
a = Accounts(a_id = '55a', c_id = '5c')
db_session.add(a)
db_session.commit()
accounts = Accounts.query.all()
accounts

[<45a, 100, 4c>,
 <12a, 400, 1c>,
 <21a, 2000, 2c>,
 <31a, 10000, 3c>,
 <32a, 20000, 3c>,
 <33a, 20000, 3c>,
 <41a, 100000, 4c>,
 <42a, 50000, 4c>,
 <43a, 20000, 4c>,
 <44a, 30000, 4c>,
 <55a, 0, 5c>]

In [44]:
# a_id가 21a인 계좌를 가져온후 금액을 4000으로 바꾸고 DB업데이트
a = Accounts.query.filter(Accounts.a_id =='21a')[0]
a.amount = 4000
a.verified = True
db_session.commit()
accounts = Accounts.query.all()
accounts

[<45a, 100, 4c>,
 <12a, 400, 1c>,
 <21a, 4000, 2c>,
 <31a, 10000, 3c>,
 <32a, 20000, 3c>,
 <33a, 20000, 3c>,
 <41a, 100000, 4c>,
 <42a, 50000, 4c>,
 <43a, 20000, 4c>,
 <44a, 30000, 4c>,
 <55a, 0, 5c>]

In [2]:
Accounts.query.filter(Customer.c_id)[0]

NameError: name 'Accounts' is not defined