In [1]:
# 주피터 노트북 익스텐션 설정
# ! jupyter contrib nbextension install --user

In [2]:
import pandas as pd

# 실행 프로세스

In [23]:
iv_df

   p_id  count  price s_id
0    p1     50   2000   s1
1    p2     30   1000   s1
2    p3     30   1500   s1
3    p4     20   3000   s1
4    p5     10   4000   s1
5    p6     10   3000   s1
6    p1     20   2000   s2
7    p3     60   1500   s2
8    p4     20   3000   s2
9    p3     30   1500   s3
10   p4     10   3000   s3
11   p5     20   4000   s3
12   p7     30   1000   s3

In [24]:
iv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   p_id    13 non-null     object
 1   count   13 non-null     int64
 2   price   13 non-null     int64
 3   s_id    13 non-null     object
dtypes: int64(2), object(2)
memory usage: 544.0+ bytes

In [25]:
iv_df['p_id']

0     p1
1     p2
2     p3
3     p4
4     p5
5     p6
6     p1
7     p3
8     p4
9     p3
10    p4
11    p5
12    p7
Name: p_id, dtype: object

In [26]:
iv_df['p_id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13 entries, 0 to 12
Series name: p_id
Non-Null Count  Dtype
--------------  -----
13 non-null     object
dtypes: object(1)
memory usage: 232.0+ bytes

In [30]:
p_id = 'p1'
(iv_df['p_id']==p_id).info()

<class 'pandas.core.series.Series'>
RangeIndex: 13 entries, 0 to 12
Series name: p_id
Non-Null Count  Dtype
--------------  -----
13 non-null     bool
dtypes: bool(1)
memory usage: 141.0 bytes

In [37]:
self.inventory[iv_pids == p_id]

NameError: name 'self' is not defined

In [39]:
count = 30
product = iv_df[iv_df['p_id']==p_id]
product = product[product['count'] > count]
product

  p_id  count  price s_id
0   p1     50   2000   s1

In [40]:
len(product)

1

In [3]:
# 'stores.csv’ 를 불러와서 s_df에 데이터프레임으로 할당
# set_index 함수를 활용해 ‘s_id’ 컬럼을 인덱스로(’s_id’ 컬럼유지)
s_df = pd.read_csv('stores.csv')
s_df.set_index('s_id', drop = False, inplace=True) # drop=false는 인덱스로 활용된 칼럼 유지
print(s_df.dtypes,'상점 데이터 불러오기 성공')
s_df

s_id            object
name            object
locate          object
products_num     int64
dtype: object 상점 데이터 불러오기 성공

     s_id name locate  products_num
s_id
s1     s1  용산점     용산             6
s2     s2  강남점     강남             3
s3     s3  강북점     강북             4

In [4]:
#‘products.csv’ 를 불러와서 p_df에 데이터프레임으로 할당
# set_index 함수를 활용해 ‘p_id’ 컬럼을 인덱스로(’p_id’ 컬럼삭제)
p_df = pd.read_csv('products.csv')
p_df.set_index('p_id', inplace=True)
print(p_df.dtypes,'상품 데이터 불러오기 성공')
p_df

product    object
dtype: object 상품 데이터 불러오기 성공

     product
p_id
p1        커피
p2        쿠키
p3     아이스크림
p4       에이드
p5        와플
p6      과일주스
p7       초콜릿

In [5]:
#‘inventory.csv’ 를 불러와서 iv_df에 데이터프레임으로 할당
# 순서 인덱스 유지
iv_df = pd.read_csv('inventory.csv')
print(iv_df.dtypes,'재고 데이터 불러오기 성공')
iv_df

p_id     object
count     int64
price     int64
s_id     object
dtype: object 재고 데이터 불러오기 성공

   p_id  count  price s_id
0    p1     50   2000   s1
1    p2     30   1000   s1
2    p3     30   1500   s1
3    p4     20   3000   s1
4    p5     10   4000   s1
5    p6     10   3000   s1
6    p1     20   2000   s2
7    p3     60   1500   s2
8    p4     20   3000   s2
9    p3     30   1500   s3
10   p4     10   3000   s3
11   p5     20   4000   s3
12   p7     30   1000   s3

In [6]:
# 6번 옵션 실행시 스토어데이터프레임 및 재고데이터프레임 csv 파일로 각각 저장
# 저장시 인덱스는 빼고 저장
s_df.to_csv('store_output.csv', index=False)
print('store_output.csv 스토어 데이터 저장 완료')
iv_df.to_csv('inventory_output.csv', index=False)
print('inventory_output.csv 재고현황 데이터 저장 완료')

store_output.csv 스토어 데이터 저장 완료
inventory_output.csv 재고현황 데이터 저장 완료

# 클래스 프로세스

## set_product 함수 수정

In [7]:
# 더미 파라미터: 상품아이디, 추가재고개수, 설정가격
s_id = 's1'
p_id = 'p9'
count = 9
price = 999
s_dummy = s_df.loc[s_id]
print(s_dummy)
iv_dummy = iv_df[iv_df['s_id']==s_id]
print(iv_dummy)

s_id             s1
name            용산점
locate           용산
products_num      6
Name: s1, dtype: object
  p_id  count  price s_id
0   p1     50   2000   s1
1   p2     30   1000   s1
2   p3     30   1500   s1
3   p4     20   3000   s1
4   p5     10   4000   s1
5   p6     10   3000   s1

In [8]:
# 상품아이디에 해당하는 재고데이터프레임에 재고 추가및 가격 재등록
# 상품아이디가 없다면 재고 및 가격 입력하여 재고데이터프레임에 추가(append 또는 concat 함수사용)
# if in 을 사용하기위해선 시리즈를 배열로 바꿔야할것 문서 참고
# try 문사용 가능, 쿼리후 개수로 파악 가능
add_df = pd.DataFrame([{'p_id': p_id, 'count': count, 'price': price, 's_id': s_id}])
iv_dummy = pd.concat([iv_dummy, add_df])
iv_dummy

  p_id  count  price s_id
0   p1     50   2000   s1
1   p2     30   1000   s1
2   p3     30   1500   s1
3   p4     20   3000   s1
4   p5     10   4000   s1
5   p6     10   3000   s1
0   p9      9    999   s1

## buy_product 함수 수정

In [9]:
# 재고데이터프레임의 해당 상품의 개수를 차감
# 해당 물품의 가격과 개수로 전체 지불 해야할 금액 산출
# 입력금액 에서 지불해야할 금액 차이로 ‘잔돈은 {금액차} 입니다’ 출력
# 해당 상품이 없을시: ‘상품이 존재하지 않습니다’ 출
# 해당 물품의 재고가 부족할시: ‘재고가 부족합니다’ 출력
# 입력금액이 지불해야 할 금액보다 작을시: '금액이 부족합니다.' 출력

## show_products 함수 생성

In [10]:
# 가지고 있는 재고데이터프레임의 모든 물품 정보를 출력(상품명 포함되어야함)
# '상품명:{} - 가격:{} (재고{}) id:{}’ 문자열이 등록상품 개수만큼 나와야함
print(s_dummy)
print(iv_dummy)
def show_products(p_df):
    for p in iv_dummy.iloc:
        print(f'상품명:{p_df.loc[p["p_id"], "product"]} - 가격:{p["price"]} (재고{p["count"]}) id:{p["s_id"]}')
show_products(p_df)

s_id             s1
name            용산점
locate           용산
products_num      6
Name: s1, dtype: object
  p_id  count  price s_id
0   p1     50   2000   s1
1   p2     30   1000   s1
2   p3     30   1500   s1
3   p4     20   3000   s1
4   p5     10   4000   s1
5   p6     10   3000   s1
0   p9      9    999   s1
상품명:커피 - 가격:2000 (재고50) id:s1
상품명:쿠키 - 가격:1000 (재고30) id:s1
상품명:아이스크림 - 가격:1500 (재고30) id:s1
상품명:에이드 - 가격:3000 (재고20) id:s1
상품명:와플 - 가격:4000 (재고10) id:s1
상품명:과일주스 - 가격:3000 (재고10) id:s1

KeyError: 'p9'

## update_data 함수 생성

In [ ]:
# 클래스내부에 변경된 데이터들을 각각 데이터프레임에 업데이트

# 스토어 모듈 프로세스

## create_store함수 수정

In [11]:
# 스토어 데이터프레임에 입력받은 스토어아이디를 인덱스로 스토어데이터 추가
# 스토어데이터는 스토어데이터프레임의 컬럼에 맞게 구성(딕셔너리추천)
s_name = input('스토어 이름 입력: ')
s_id = input('스토어 번호 입력: ')
locate = input('스토어 위치 입력: ')
s_df.loc[s_id] = {'s_id': s_id, 'name': s_name, 'locate': locate}
print('='*50)
print('{s_name} 스토어가 생성 되었습니다.')

스토어 이름 입력:
스토어 번호 입력:
스토어 위치 입력:
==================================================
{s_name} 스토어가 생성 되었습니다.

# show_list 함수 수정

In [12]:
# - 모든 스토어의 정보를 다음과 같이 출력
# - ‘스토어이름:{} 스토어 아이디:{} 스토어 위치:{} 등록상품:{}’
# 한줄씩 출력해야하니 반복문으로 꺼내야하고, 스토어별 상품종류가 복수이므로 반복문을 한번 더 써야함

for store in s_df.iloc:
    store_pid = iv_df.loc[iv_df['s_id']== store['s_id'], 'p_id'] # 스토어별 등록상품 아이디
    sp_name = []
    for pid in store_pid :
        sp_name.append(p_df.loc[pid, 'product'])
    print(f'스토어 이름:{ store["name"] }, 스토어 아이디:{ store["s_id"] }, 스토어 위치:{ store["locate"] },\n등록상품:{ sp_name }')
    print('='*50)

스토어 이름:용산점, 스토어 아이디:s1, 스토어 위치:용산,
등록상품:['커피', '쿠키', '아이스크림', '에이드', '와플', '과일주스']
==================================================
스토어 이름:강남점, 스토어 아이디:s2, 스토어 위치:강남,
등록상품:['커피', '아이스크림', '에이드']
==================================================
스토어 이름:강북점, 스토어 아이디:s3, 스토어 위치:강북,
등록상품:['아이스크림', '에이드', '와플', '초콜릿']
==================================================
스토어 이름:, 스토어 아이디:, 스토어 위치:,
등록상품:[]
==================================================

In [13]:
# 상품명 반복문 생략
for store in s_df.iloc:
    store_pid = iv_df.loc[iv_df['s_id']== store['s_id'], 'p_id'] # 스토어별 등록상품 아이디
    print(f'스토어 이름:{ store["name"] }, 스토어 아이디:{ store["s_id"] }, 스토어 위치:{ store["locate"] },\n등록상품:{ list(p_df.loc[store_pid, "product"]) }')
    print('='*50)

스토어 이름:용산점, 스토어 아이디:s1, 스토어 위치:용산,
등록상품:['커피', '쿠키', '아이스크림', '에이드', '와플', '과일주스']
==================================================
스토어 이름:강남점, 스토어 아이디:s2, 스토어 위치:강남,
등록상품:['커피', '아이스크림', '에이드']
==================================================
스토어 이름:강북점, 스토어 아이디:s3, 스토어 위치:강북,
등록상품:['아이스크림', '에이드', '와플', '초콜릿']
==================================================
스토어 이름:, 스토어 아이디:, 스토어 위치:,
등록상품:[]
==================================================

# search_store 함수 수정

In [14]:
iv_df

   p_id  count  price s_id
0    p1     50   2000   s1
1    p2     30   1000   s1
2    p3     30   1500   s1
3    p4     20   3000   s1
4    p5     10   4000   s1
5    p6     10   3000   s1
6    p1     20   2000   s2
7    p3     60   1500   s2
8    p4     20   3000   s2
9    p3     30   1500   s3
10   p4     10   3000   s3
11   p5     20   4000   s3
12   p7     30   1000   s3

In [15]:
# 스토어가 있다면 스토어 데이터프레임 에서 해당 스토어아이디에 해당하는 데이터 추출
# 스토어가 있다면 재고 데이터프레임 에서 해당 스토어아이디에 해당하는 재고데이터프레임 추출
# 추출한 데이터로부터 AiStore인스턴스 생성후 반환(리턴)
# 고객이 없다면 None 반환   
def search_store(s_id):
    if s_id in s_df['s_id']:
        name = s_df.loc[s_id, 'name']
        locate = s_df.loc[s_id, 'locate']
        products_num = s_df.loc[s_id, 'products_num']
        inventory = iv_df[iv_df['s_id'] == s_id]
        print(name, s_id, locate, products_num)
        print(inventory)
#             store_instance = AiStore(name, s_id, locate, products_num, inventory)
#             return store_instance
    else : 
        return None

In [16]:
search_store('s1')

용산점 s1 용산 6.0
  p_id  count  price s_id
0   p1     50   2000   s1
1   p2     30   1000   s1
2   p3     30   1500   s1
3   p4     20   3000   s1
4   p5     10   4000   s1
5   p6     10   3000   s1

# show_store 함수 수정

In [17]:
# 입력받은 스토어 아이디로 search_store 를 통해 스토어 인스턴스를 받음
# 스토어이름:{} 스토어 아이디:{} 스토어 위치:{} 등록상품:{}’ 출력
# 스토어의 show_products 함수 실행

s_id = input('스토어 번호 입력: ')
#store_instance = search_store(s_id)
s_dummy = s_df.loc[s_id]
print(s_dummy)
iv_dummy = iv_df[iv_df['s_id']==s_id]
print(iv_dummy)

print( f'스토어이름:{s_dummy["name"]} 스토어 아이디:{s_dummy["s_id"]} 스토어 위치:{s_dummy["locate"]}\
      \n등록상품:{list(p_df.loc[iv_dummy["p_id"], "product"])}' )
#store_instance.show_products()

스토어 번호 입력:
s_id
name
locate
products_num    NaN
Name: , dtype: object
Empty DataFrame
Columns: [p_id, count, price, s_id]
Index: []
스토어이름: 스토어 아이디: 스토어 위치:
등록상품:[]

# buy 함수 수정

In [18]:
s_id = input('스토어 번호 입력: ')
# 입력받은 스토어 아이디로 search_store 를 통해 스토어 인스턴스를 받음
store_instance = search_store(s_id)
# 스토어의 show_products 함수 실행
show_products(p_df)

if store_instance is None:
    return print(f'{s_id} 스토어 아이디가 유효하지 않습니다..')
# 스토어가 있으면 상품아이디, 개수, 지불금액 입력받음 (옵션으로 필요 지불금액 출력)
# get_price 함수로 필요가격 출력
p_id = input('상품 아이디 입력:')
count = int(input('구매 개수 입력: '))
print(f'필요한 지불 금액은 {store_instance.get_price() * count}입니다.')

# buy_product 함수로 물품 구매 진행
amount = int(input('가격 입력: '))
buy_product(p_id, count, amount)

스토어 번호 입력:

NameError: name 'search' is not defined

# manager_product 함수 생성

In [19]:
def manager_product():
    s_id = input('스토어 번호 입력: ')
    # 입력받은 스토어 아이디로 search_store 를 통해 스토어 인스턴스를 받음
    store_instance = search_store(s_id)
    # '등록 가능 상품 {상품데이터프레임}' 을 출력(print)
    print(f'등록 가능 상품 {p_df}')
    # 상품아이디, 개수, 가격 입력받음
    p_id = input('상품 아이디 입력: ')
    count = int(input('재고 개수 입력: '))
    price = int(input('상품 가격 입력: '))
    # set_product 함수 이용하여 해당 스토어 재고 및 가격 수정
    store_instance.set_product(p_id, count, price)

# products_counts함수 생성

In [20]:
p_df

     product
p_id
p1        커피
p2        쿠키
p3     아이스크림
p4       에이드
p5        와플
p6      과일주스
p7       초콜릿

In [21]:
iv_df

   p_id  count  price s_id
0    p1     50   2000   s1
1    p2     30   1000   s1
2    p3     30   1500   s1
3    p4     20   3000   s1
4    p5     10   4000   s1
5    p6     10   3000   s1
6    p1     20   2000   s2
7    p3     60   1500   s2
8    p4     20   3000   s2
9    p3     30   1500   s3
10   p4     10   3000   s3
11   p5     20   4000   s3
12   p7     30   1000   s3

In [22]:
# 재고데이터프레임에 상품데이터프레임을 상품아이디(’p_id’) 기준으로 결합(merge 또는 join)
# 결합된 데이터프레임에서 상품이름과 상품개수만을 부분 데이터프레임으로 추출
# 추출한 부분데이터 프레임에서 상품이름을 그룹화하여 상품이름별 총 재고개수를 데이터프레임으로 출력
piv_df = p_df.join(iv_df.set_index('p_id'))
p_group_df = piv_df[['product', 'count']].groupby('product').sum('count')
p_group_df
# merge_df.to_csv('ca_merge.csv', index=False)

         count
product
과일주스        10
아이스크림      120
에이드         50
와플          30
초콜릿         30
커피          70
쿠키          30